# secrets
.env
.env.*

# python cache
__pycache__/
*.pyc

# OS/IDE
.vscode/
.idea/
.DS_Store
/temp

# airflow log files
airflow/logs/
*.log

# data artifacts
st_data/*.parquet
st_data/db/
st_data/outputs/
*.ipynb
